.footer {
  background-color: #362424;
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 11em;
}

.informacoes {
  font-family: "David Libre";
  font-size: 20px;
  padding: 1.4em;
  margin-top: 1.5em;
}

.ancora-footer {
  color: rgb(190, 85, 85);
}

.ancora-footer:hover {
  color: #fff;
}

@media (max-width: 830px) {

}

/* celular */

@media (max-width: 480px) {
  .informacoes {
    margin-top: 0.5em;
  }

  .footer {
    height: 11.1em;
  }
}
