main {
  margin-top: 50em;
}

.parallax {
  /* background-image: url("../img/carnecomalecrim.jpg"); */
  background-image: url("../img/midjourneyparallax.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
  margin-top: 6em;
}

.cards {
  background: rgba(217, 217, 217, 0.31);
  width: 346px;
  height: 428px;
  border-radius: 70px;
  gap: 2em;
}

.sobre-nos-container {
  scroll-margin-top: 14em;
}

.sobre-nos {
  gap: 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.content-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-cards {
  margin-top: 24px;
  text-align: center;
  font-size: 26px;
  color: #fff;
  font-weight: bold;
}

.descricao {
  margin-top: 2.5em;
  width: 80%;
  height: 6em;
  font-size: 20px;
}

.textos {
  color: #302d2d;
  font-weight: bold;
  font-size: 26;
}

.faquinha {
  margin-top: 5.5em;
  width: 25%;
}

/* daqui pra baixo é imagem de carne */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap");

.cortes-de-carnes {
  align-items: center;
  scroll-margin-top: 8em;
}

.container {
  align-items: center;
  width: 99%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 0.5em;
}
.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 60px;
}
.card > div {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}
.card-image {
  width: 400px;
  height: 250px;
}

.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.card-text {
  margin: -30px auto;
  margin-bottom: -50px;
  height: 180px;
  width: 300px;
  background-color: #1d1c20;
  color: #fff;
  padding: 20px;
}
.card-meal-type {
  font-style: italic;
}
.card-title {
  font-size: 2.2rem;
  margin-bottom: 20px;
  margin-top: 5px;
}
.card-body {
  font-size: 1.25rem;
}
.card-price {
  width: 100px;
  height: 100px;
  background-color: #970c0a;
  color: #fff;
  margin-left: auto;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-containers {
  font-family: "Dongle", sans-serif;
  text-align: center;
  font-size: 55px;
  color: #fff;
  font-weight: bold;
  padding: 0.5em;
  margin-bottom: 0.3em;
}

/* tablet */

@media (max-width: 830px) {
  main {
    margin-top: 60em;
  }
}

/* celular */

@media (max-width: 480px) {
  main {
    margin-top: 40em;
  }

  .sobre-nos {
    flex-wrap: wrap;
    width: 100%;
  }

  .container {
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
    margin-top: 3em;
  }

  .card-image {
    width: auto;
  }
}
